---
import { Font } from "astro:assets";
import Common from "../components/common/Common.astro";
import Demo from "../components/Demo";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {/* Meta */}
    <title>@y11i-3d/tsl-easings</title>
    <meta
      name="description"
      content="Easing functions for Three.js Shader Language (TSL)."
    />

    {/* Favicon */}
    <link
      rel="icon"
      href={`${import.meta.env.BASE_URL}/favicon.ico`}
      sizes="32x32"
    />
    <link
      rel="icon"
      href={`${import.meta.env.BASE_URL}/favicon.svg`}
      sizes="any"
      type="image/svg+xml"
    />
    <link
      rel="apple-touch-icon"
      href={`${import.meta.env.BASE_URL}/apple-touch-icon.png`}
    />

    {/* Font */}
    <Font cssVariable="--font-sans" preload />
  </head>
  <body>
    <Common />
    <Demo client:only="react" />
  </body>
</html>
